body {
          color:yellow;
          background-color:green;
          font-family:"Arial Black"Arial sans-serif  
      }
       h1{
              font-size: 200%;
     }
     
     h2{
     		font-size: 150%;
     }
     
     a{ color: red
     }