#emergency {
	background-color: #D11400;
	font-size: 150%;
	line-height:130%;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 3px;
	padding: 20px;
	position: fixed;
	width: 300px;
	top: 100px;
	left: 300px;
}