#mirror {
	float: left;
	position: relative;
	top: 10px;
}

#mirrorcapt {
	margin: 10px;
	margin-left: 255px;
	font-size: 90%;
}

#contact {
	font-size: small;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

#home {
	background-color: #A7D1D1;
	border-style: dashed;
	border-color: #333;
	border-width: 2px;
	border-bottom-color: #A7D1D1;
}

#home a:link {
	color: #000;
}

#home a:visited {
	color: #000;
}